snippet lmap Neovim helper.keys map function
	local map = require('helpers.keys').map
	$0

snippet lwk which-key handler
	local wk = require('which-key')
	$0

snippet wk-add which-key add
	wk.add({ "<leader>$1",  group = "$2" })
	$0
